@import url('../recursos/colors.css');

/*********************************************************
*                         Blog                           *
**********************************************************/

.blog {
    display: flex;
    flex-direction: column;
}


.blog .blog-header {
    display: flex;
    width: 100%;
    margin-top: 4em;
    justify-content: space-between;
    padding-bottom: .4em;
    border-bottom: 3px solid var(--gris);
}



/*********************************************************
*                     Items del menu                     *
**********************************************************/

.blog-header_btn-categorias{
    margin-left: 1.5em;
}
.blog-header_btn-categorias ul {
    list-style: none;
}

.blog-header_btn-categorias ul li {
    position:relative;
    float:left;
}

.blog-header_btn-categorias ul li a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: inline-block;
}

.blog-header_btn-categorias ul li .a-categoria {
    background: var(--azul-claro);
    color: var(--blanco);
    padding: 1em 2em;
    font-size: 1.3em;
    box-shadow: 1px 1px 3px var(--blanco);
}

.blog-header_btn-categorias ul li .a-categoria:hover {
    background: var(--azul-claro-2);
}

/*********************************************************
/*    Color de fondo para el active de el btn-categorias *
**********************************************************/

.blog-header_btn-categorias ul li .a-categoria:active {background: var(--active-blue);}


   
/* efecto al pasar el ratón por los items del menu */
   
.blog-header_btn-categorias ul li:hover {
    background:#5b78a7;
}

.blog-header_btn-categorias ul li:hover > a {
    color: var(--blanco);
}
   
/* menu desplegable */
.blog-header_btn-categorias ul ul {
    display:none;
    position:absolute;
    top:90%;
    left:0;
    background:#eee;
   }
   
   /* items del menu desplegable */
   
.blog-header_btn-categorias ul ul li {
    width: 100%;
}

   
/* enlaces de los items del menu desplegable */
.blog-header_btn-categorias ul ul li a{
    padding: 1.5em;
    color: var(--negro);
}
   
/* items del menu desplegable al pasar el ratón */
.blog-header_btn-categorias ul li:hover > ul {
    display:block;
   }

/* Estilos para el Buscador */
.blog-header_form-search form div {
    display: flex;
    margin-right: 2em;
    border-radius: 6px;
}

.blog-header_form-search div {
    background: #eee;
}
.blog-header_form-search div:hover {
    box-shadow: 0px 2px 15px #b3e3fc;
}


.blog-header_form-search form input {
    border: none;
    outline: none;

    padding: .4em;
    margin-right:.2em;
    
    background: #eee;
    font-family: 'Oswald',sans-serif;
    border-radius: 8px;
}

.blog-header_form-search form img:hover {
    cursor: pointer;
}


.blog-header_form-search form input::placeholder {
    padding: 0.5em;
}

/* Estilos para los contenedores de los articulos */
.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.article_img {
    width: 100%;
    height: 40%;
    background-color: var(--negro);
    color: var(--blanco);
}

.blog-articles {
    display: flex;
    justify-content: space-between;
}

.blog-articles .articles-container {
    width: 100%;
} 

.blog-articles .aside-container {
    width: 40%;
}

.articles-container .article { /* Estilos de los cards para los articulos */
    width: 20em;
    height: 20em;
    background: var(--blanco);
    margin: 2em .5em;
    padding: 0em;
} 


/* Footer */

.blog-footer{
    border-top: 3px solid var(--blanco);
    height: 10em;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.blog-footer h3 {
    margin: .5em;
    font-family: 'Oswald',sans-serif;
    font-size: 1.7em;
    color: #ddd;
}

.blog-footer h3::first-letter {
    font-size: 1.8em;
    color: #fff;
}

.blog-footer .subscribe-form {
    display: flex;
    flex-direction: column;
}




.blog-footer .subscribe-form input[type="email"] {
    padding: .5em;
    border: none;
    margin-left: .90em;
    border-radius: 3px;
    font-family: 'Oswald',sans-serif;
}

.blog-footer .subscribe-form input[type='email']:focus {
    outline: .15em solid var( --azul-claro);

}

.subscribe-form button{
    background: var(--rojo);
    color: #fff;
    border: none;
    padding: .5em;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oswald',sans-serif;
    margin-left: .2em;
}


.social-widgets {
    display: flex;
    flex-direction: column;
}



.social-links a.facebook {
    color: #1877F2;
}

.social-links a.twitter {
    color: #1DA1F2;
}

.social-links a.instagram {
    color: #E4405F;
}



/*********************************************************
*             Estilos para Monitores pequeños            *
**********************************************************/
@media only screen and (max-width:1200px){}


/*********************************************************
*                Estilos para Tablets                    *
**********************************************************/
@media only screen and (max-width:936px){

	/* Adaptacion del footer */
	.blog-footer {
		height: 15em;
	}
}

/*********************************************************
*                  Estilos para Smartphone               *
**********************************************************/
@media only screen and (max-width:580px){

	/* Adaptacion del header en smartphone  */
	.blog-header {
		flex-direction: column-reverse;

	}

	.blog-header_form-search,.blog-header_btn-container {
		margin: 1em .5em;
	}

	.blog-header .blog-header_form-search {
		align-self: end;
		width: 90%;
	}


	/*Adaptacion del footer en smartphone*/
	.blog-footer {
		flex-direction: column;
		width: 100%;
		height:30em;
	}

	.blog-footer .suscribe-form {
		width: 100%;
	}

}