/* Estilos para la seccion de contacto */

.contacto_top {
    display: flex;
    justify-content: center;

    font-family:'Oswald',sans-serif;
    border: 2px solid #000;
    background-color: rgba(15, 86, 86, 0.557);
    color: #000;
}

.contacto_top .contacto_top-medios_contacto {
    border: 1px solid #000;
}

.contacto_top .contacto_top-medios_contacto a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.20em;
    padding:10px 20px;
}

.contacto_top .contacto_top-medios_contacto a:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--blanco);
}




.contacto_middle {
    border: 2px solid #fff;
    background: lightblue;
    position: absolute;
    top: 15%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.contacto_bottom {
    display: flex;
    border: 2px solid #008000;
   /* margin-left: 15%;*/
    width: 100%;
    justify-content:center;
    align-self: flex-end;
    align-items: center;
    background: darkcyan;
}

.contacto_bottom > div {
    border: 2px solid violet;
    margin: 10px;
}

.contacto_bottom .contacto_bottom-description {
    width: 30%;
}

.contacto_bottom .contacto_bottom-form {
    width: 30%;
}