   .container {
       width: 80%;
       margin: auto;
       overflow: hidden;
   }

   .about-section {
       background-color: var(--white-smoke);
       padding: 2rem 0;
   }

   .face-in {
       text-align: center;
       color: var(--dark-grey);
   }

   .info-flex {
       display: flex;
       flex-direction: column;

   }

   .info-item {
       border-bottom: 1px solid var(--white-smoke);
       background: var(--white);
       padding: 1rem;
       border-radius: 5px;
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       margin: 1rem;
       transition: transform 0.3s ease;
   }


   .info-item:hover {
       transform: translateY(-5px);
   }

   .info-item h3 {
       color: var(--dark-ruby);
       margin-top: 0;
       display: flex;
       align-items: center;
   }

   .info-item h3 i {
       margin-right: 10px;
   }

   .info-item ul {
       list-style-type: none;
       padding: 0;
   }

   .info-item li {
       margin-bottom: 0.5rem;
       display: flex;
       align-items: center;
   }

   .info-item li i {
       margin-right: 10px;
       color: var(--cardinal-ruby);
       font-size: 20px;

   }

   /*Section technology stack*/
   .tech ul li,
   .interestings ul li {
       display: inline-block;
       margin: 0px 10px;


   }

   .tech ul li i {
       margin: 0px;

   }


   .download-cv {
       text-align: center;
       margin-top: 2rem;
   }

   .download-cv a {
       display: inline-block;
       background-color: var(--dark-ruby);
       color: var(--white);
       padding: 0.7rem 1.5rem;
       text-decoration: none;
       border-radius: 5px;
       transition: background-color 0.3s ease;
   }

   .download-cv a:hover {
       background-color: var(--cardinal-ruby);
   }

   @media (max-width: 768px) {
       .info-grid {
           grid-template-columns: 1fr;
       }
   }

   .fade-in {
       opacity: 0;
       transform: translateY(20px);
       transition: opacity 0.5s ease, transform 0.5s ease;
   }

   .fade-in.visible {
       opacity: 1;
       transform: translateY(0);
   }