/* Header */

header {
    position: absolute;
    top: 5px;
    background-color: var(--white);
    color: var(--dark-grey);
    border-radius: 5px;
    width: 99%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav a {
    color: var(--dark-grey);
    text-decoration: none;
    padding: 1rem .5rem;
    text-align: center;
    font-family: 'Roboto';
}

nav a:hover {
    border-bottom: 2px solid var(--dark-ruby);
    cursor: pointer;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.desktop-nav {
    display: flex;
    /* Muestra el menú en pantallas grandes */
}

.desktop-nav.active {
    display: none;
}

.menu-button_close {
    display: none;
}

/* Estilo para pantallas pequeñas */

@media (max-width: 768px) {
    header {
        z-index: 200;
        top: 0px;
        padding: 20px;
    }
    .logo {
        display: none !important;
    }
    .container a {
        display: block;
        align-self: flex-start;
    }
    .menu-button, .menu-button_close {
        align-self: flex-start;
        margin: 0px;
    }
    .desktop-nav {
        display: none;
        flex-direction: column;
    }
    .desktop-nav.active {
        display: flex;
    }
    .menu-button {
        display: block;
    }
    .container nav ul {
        gap: 0;
    }
}