@import url('responsive.css');
@import url('colors.css');
@import url('navbar.css');
@import url('presentation.css');
@import url('portafolio.css');
@import url('contact.css');
@import url('footer.css');
@import url('about.css');

/* Main Style */
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('../img/background.jpg');
    background-color: var(--dark-grey);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Layout */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.gap-4 {
    gap: 1rem;
}

.gap-6 {
    gap: 1.5rem;
}



/* Responsive */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

/* General style of Sections */
section {
    padding: 4rem 0;
}

.bg-muted {
    background-color: var(--white-smoke);
}

h1,
h2 {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--dark-ruby);
    color: var(--white);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--cardinal-ruby);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--dark-ruby);
    color: var(--dark-ruby);
}

.btn-outline:hover {
    background-color: var(--cardinal-ruby);
    color: var(--white);
}