@import url('recursos/colors.css');
@import url('navbar.css');
@import url('cards.css');
@import url('about.css');
@import url('portafolio.css');
@import url('contact.css');
@import url('footer.css');
@import url('responsive.css');

/*********************************************************
*                       Desktop                          *
**********************************************************/

body {
    background-image: url('../img/background.jpg');
    background-color:#051769;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;

}


/*********************************************************
*             Presentacion del sitio web                 *
**********************************************************/
.my-description{
    text-align: center;
    padding: 15px;
    width: 30vw;
}

.my-description h2 {
    margin-bottom: .7em;
    font-family: 'Oswald', sans-serif;
    color: var(--blanco);
    font-size: 4em;
}

.my-description p {
    text-align: justify;
    font-family:'Oswald', sans-serif;
    color: #fff;
    font-size: 25px;
}

/*********************************************************
*             Presentacion - boton "Leer Mas"            *
**********************************************************/

.my-description .presentacion_btn_info {
    margin-top: 3em;
    margin-left: 0px;
    padding: 10px;
    width: 14vw;
    text-align: center;
    border-radius: 5px;
    font-family: 'Oswald',sans-serif;
    font-size: 1.4em;
    color: var(--blanco);
    border-radius: .4em;
    background: var(--degradado-naranja-fondo);
    background: var(--degradado-naranja);
    cursor: pointer;
    text-decoration: none;
}

.presentacion_btn_info:hover {
    background: #eb461d;
    transition-property: background;
    transition-duration: .5s;
}

.presentacion_btn_info:active {
    background: #ff613a;
}   


/*********************************************************
*                       Presentation                     *
**********************************************************/

.start{
    color:#fff;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    align-content: space-between;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.start .banner-container{
    width: 100%;
    padding: 20px;
    background-color: #1e2326f8;/*#1e2326*/
    max-width: 360px;
    margin: auto;
    /*margin-left: 50%;*/
    text-align: center;
    border-radius: 40px;
}
.start .banner-container img{
    margin-top: 40px;
    border: 10px solid var(--verde);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.start .banner-container h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.start .banner-container h2{
    font-size: 15px;
    font-weight: normal;
}
.start .banner-container .social-media a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.start .banner-container .social-media a:hover{
    background-color: var(--verde);
}













/*
    Se requiere modificacion para arreglar los errores de
    desing de el menu en la resolucion ( 1200px )
    fecha: 16 de octubre del 2023. 
*/

