    <!-- Section About me -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2 class="titulo">Sobre Mí</h2>
            <p>
                <span>Hola, soy Moises Perez</span> un apasionado estudiante
                de electricidad y del idioma inglés, actualmente con un nivel B1. Me dedico al
                aprendizaje autodidacta de programación y disfruto de la lectura y los deportes
                de contacto como el Taekwondo. Estoy siempre en busca de nuevos conocimientos y habilidades que me
                ayuden a crecer tanto personal como profesionalmente.
            </p>

            <div class="fila">
                <!-- datos personales -->
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                        <li>
                            <strong>Fecha de nacimiento</strong>
                            17-07-2007
                        </li>
                        <li>
                            <strong>Teléfono</strong>
                            +58 412-9739167
                        </li>
                        <li>
                            <strong>Email</strong>
                            moises.p.student@gmail.com
                        </li>
                        <li>
                            <strong>Dirección</strong>
                            Valencia, Edo-carabobo, Venezuela
                        </li>
                    </ul>
                </div>

                <!-- intereses -->
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-language"></i>
                            <span>Ingles</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-laptop"></i>
                            <span>Programacion</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>DEPORTE</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-book"></i>
                            <span>LIBROS</span>
                        </div>

                        <div class="interes">
                            <i class="fa-solid fa-chess"></i>
                            <span>Ajedrez</span>
                        </div>

                    </div>
                </div>
            </div>
            <button>
                <a href="/download">
                    Descargar CV <i class="fa-solid fa-download"></i>
                </a>
                <span class="overlay"></span>
            </button>
        </div>
    </section>