<section class="cards">

        <div class="first_card article">

            <div class="img">
                <img src="{{url_for('static',filename='imagenes/desarrollo-web.png')}}" alt="desarrollo-web">
            </div>

            <h2>Desarrollo web</h2>

            <p> 
                En esta sección, podrás explorar mi pasión por la creación de 
                aplicaciones y sitios web. Aquí encontrarás un conjunto de proyectos 
                que reflejan mi dedicación como desarrollador.
            </p>   
            <a href="/portafolio/desarrollo_web" class="btn_cards">Ir a la sección</a>           
        </div>

        <div class="secund_card article">

            <div class="img">
                <img src="{{url_for('static',filename='imagenes/Habilidades.png')}}" alt="Habilidades">
            </div>

            <h2>Habilidades Técnicas</h2>

            <p> 
                Conoce más sobre mis habilidades técnicas y competencias en diversos
                campos. Aquí encontrarás un resumen de las herramientas y tecnologías
                que he dominado durante mi trayectoria académica.
            </p>
            <a href="/autor/habilidades_tecnicas" class="btn_cards">Ir a la sección</a>
        </div>

        <div class="tercera_card article">
            
            <div class="img">
                <img src="{{url_for('static',filename='imagenes/rompecabezas.png')}}" alt="Proyectos">
            </div>

            <h2>Proyectos</h2>

            <p> 
                En esta sección, podrás sumergirte en una variedad de trabajos que 
                he realizado. Cada pieza fue creada con cuidado y dedicación, y 
                refleja mi compromiso con el aprendizaje continuo y el crecimiento
                profesional.
            </p>

           <a href="/portafolio/proyectos" class="btn_cards">Ir a Proyectos</a>
        </div>

    </section>