 <!-- SECCION CONTACTO -->
 <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2 class="titulo">CONTACTO</h2>
            <div class="fila">
                <!-- Formulario -->
                <div class="col">
                    <input type="text" placeholder="Tú Nombre">
                    <input type="text" placeholder="Número telefónico">
                    <input type="text" placeholder="Dirección de correo">
                    <input type="text" placeholder="Tema">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <button>
                        Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
                <!-- Mapa -->
                <div class="col">
                    <img src="img/ubicacion.png" alt="">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                Valencia, Carabobo, Venezuela
                            </li>
                            <li>
                                <i class="fa-solid fa-mobile-screen"></i>
                                Envia un mensaje: +58 412 1573201
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                Email: moises.p.student@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
