<footer>

    <section class="pie_position">

        <section class="legal">

            <img src="{{url_for('static',filename='imagenes/ley.png')}}" alt="Legalidad">
    
            <a href="/legal">Legal</a>
            <p>&copy; 2024 John Doe. All rights reserved.</p>
            <p>
                <a href="#" class="legales">Política de privacidad</a>
                <a href="#" class="legales">Aviso legal o Términos de uso</a>
                <a href="#" class="legales">Derechos de autor y propiedad intelectual</a>
                
            </p>
        </section>
    
        <section class="sobre_website">
    
            <img src="{{url_for('static',filename='imagenes/acerca-de.png')}}" alt="Acerca_de">
    
            <a href="/blog/about_website">Sobre el sitio</a>
            <p>
                Este sitio web es un reflejo de mi pasión por la electricidad y por
                el mundo del desarrollo web. Soy un estudiante de electricidad con
                un enfoque autodidacta en la programación web full-stack, y aquí 
                encontrarás una combinación de mi portafolio y mi blog, donde comparto
                mi progreso, aprendizajes y experiencias.
            </p>
        </section>
    
        <section class="autor">
            
            <img src="{{url_for('static',filename='imagenes/autor.png')}}" alt="Python">
    
            <a href="/autor">Sobre el autor</a>
            <p>
                ¡Hola! Soy Moises, el creador de este sitio web. Me complace
                compartir contigo mi pasión por la electricidad y la programación.
                ¡Gracias por ser parte de mi emocionante travesía en este maravilloso
                mundo!
            </p>
        </section>

    </section>

    <div class="footer_footer"></div>

</footer>