<header>

    <!--Icono del sitio web-->
    <div class="web_name">
        <p>
            WEBFOLIO
        </p>
    </div>

    <!--Menu del sitio web-->
        <nav class="menu" id="menu">

            <div class="btn_close_menu" onclick="open_close_menu()">

                <img src="{{url_for('static',filename='imagenes/cerrar.png')}}" alt="Close">
                
            </div>
            
            <ul>
                <li>
                    <a href="/">
                        <img src="{{url_for('static',filename='imagenes/home_blanco.png')}}" alt="Home">
                        Inicio
                    </a>
                </li>

                <li>
                    <a href="/blog">
                        <img src="{{url_for('static',filename='imagenes/blog_blanco_32px.png')}}" alt="Blog">
                        Blog
                    </a>
                </li>

                <li>
                    <a href="/portafolio">
                        <img src="{{url_for('static',filename='imagenes/portafolio_blanco.png')}}" alt="Portafolio">
                        Portafolio
                    </a>
                </li>

                <li class="contacto">
                    <a href="/contacto">
                        <img src="{{url_for('static',filename='imagenes/telefono.png')}}" alt="Contacto">
                        Contactar
                    </a>
                </li>
            </ul>

            <div class="redes_sociales">

                <a href="https://facebook.com" target="_blank">
                    <img src="{{url_for('static',filename='imagenes/facebook.png.png')}}" alt="Facebook">
                </a>
    
                <a href="https://instagram.com" target="_blank">
                    <img src="{{url_for('static',filename='imagenes/instagram.png')}}" alt="Instagram">
                </a>
    
                <a href="https://twitter.com" target="_blank">
                    <img src="{{url_for('static',filename='imagenes/twitter.png')}}" alt="Twitter">
                </a>
            </div>
        </nav>

        <div class="btn_menu" id="btn_menu" onclick="open_close_menu()">
            
             <img src="{{url_for('static',filename='imagenes/menu.png')}}" alt="Menu">

        </div>
</header>