<header>
    <nav>
        <!-- Website name-->
        <div class="website-name">
            <h3>Webfolio</h3>
        </div>

        <!-- Website Navegation -->
        <div class="navegation">
            <ul>
                <li>
                    <a href="#">
                        <img src="../static/imagenes/home_blanco.png" alt="Home">
                        Inicio
                    </a>
                </li>

                <li>
                    <a href="#sobremi">
                        <img src="../static/imagenes/autor.png" alt="about">
                        sobre mi
                    </a>
                </li>

                <li>
                    <a href="/download">
                        <img src="../static/imagenes/blog_blanco_32px.png" alt="Curriculum">
                        curriculum
                    </a>
                </li>
                <li>
                    <a href="#portfolio">
                        <img src="../static/imagenes/portafolio_blanco.png" alt="Portafolio">
                        Portafolio
                    </a>
                </li>
                <li>
                    <a href="#contacto">
                        <img src="../static/imagenes/telefono.png" alt="Contacto">
                        contacto
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>



<!----
<header>
     Website name --
    <div class="web-name">
        <h3>WEBFOLIO</h3>
    </div>

    <!-Website navbar --
    <div class="navbar">
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <img src="../static/imagenes/home_blanco.png" alt="Home">
                        Inicio
                    </a>
                </li>

                <li>
                    <a href="/blog">
                        <img src="{{url_for('static',filename='imagenes/blog_blanco_32px.png')}}" alt="about">
                        Sobre mi
                    </a>
                </li>

                <li>
                    <a href="/blog">
                        <img src="{{url_for('static',filename='imagenes/blog_blanco_32px.png')}}" alt="curriculum">
                        Curriculum
                    </a>
                </li>

                <li>
                    <a href="/portafolio">
                        <img src="{{url_for('static',filename='imagenes/portafolio_blanco.png')}}" alt="Portafolio">
                        Portafolio
                    </a>
                </li>

                <li class="contacto">
                    <a href="/contacto">
                        <img src="{{url_for('static',filename='imagenes/telefono.png')}}" alt="Contact">
                        Contactar
                    </a>
                </li>
            </ul>

        </nav>
    </div>

    <div class="redes_sociales">

        <a href="https://facebook.com" target="_blank">
            <img src="{{url_for('static',filename='imagenes/facebook.png.png')}}" alt="Facebook">
        </a>

        <a href="https://instagram.com" target="_blank">
            <img src="{{url_for('static',filename='imagenes/instagram.png')}}" alt="Instagram">
        </a>

        <a href="https://twitter.com" target="_blank">
            <img src="{{url_for('static',filename='imagenes/twitter.png')}}" alt="Twitter">
        </a>
    </div>
</header>

    <- Boton de cerrar --
    <div class="btn_close_menu" onclick="open_close_menu()">
        <img src="{{url_for('static',filename='imagenes/cerrar.png')}}" alt="Close">
    </div>

    <div class="btn_menu" id="btn_menu" onclick="open_close_menu()">
        <img src="{{url_for('static',filename='imagenes/menu.png')}}" alt="Menu">

    </div>
->>
-->