<header>
    <div class="container flex items-center justify-between">

        <a href="#" class="logo">

            <!-- remplace by icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="4 17 10 11 4 5" />
                <line x1="12" x2="20" y1="19" y2="19" />
            </svg>

            <span>Moises Dev</span>
        </a>

        <nav class="desktop-nav">
            <ul>
                <li><a href="#home">
                        <i class="fa fa-home"></i> Home</a></li>

                <li><a href="#about">
                        <i class="fa fa-user"></i> About</a></li>

                <li><a href="#portfolio">
                        <i class="fa fa-briefcase"></i> Portfolio</a></li>

                <li><a href="#contact">
                        <i class="fa fa-envelope"></i> Contact</a></li>

                <li><a href="/download" class="btn btn-outline btn-download_cv">
                        <i class="fa fa-download"></i> Download CV</a></li>
            </ul>
        </nav>



        <button id="openMenu" class="menu-button" aria-label="Toggle navigation menu">
            <i class="fa fa-bars"></i>
        </button>

        <button id="closeMenu" class="menu-button_close menu-button" style="display:none;">
            <i class="fa fa-times"></i>
        </button>



    </div>
</header>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openMenuButton = document.getElementById('openMenu');
        const closeMenuButton = document.getElementById('closeMenu');
        const desktopNav = document.querySelector('.desktop-nav');

        openMenuButton.addEventListener('click', function () {
            // Mostrar el menú
            desktopNav.classList.add('active');

            // Ocultar el botón de abrir y mostrar el botón de cerrar
            openMenuButton.style.display = 'none';
            closeMenuButton.style.display = 'block';
        });

        closeMenuButton.addEventListener('click', function () {
            // Ocultar el menú
            desktopNav.classList.remove('active');

            // Mostrar el botón de abrir y ocultar el botón de cerrar
            openMenuButton.style.display = 'block';
            closeMenuButton.style.display = 'none';
        });
    });
</script>