{% extends 'base.html' %}

<!--Titulo de la sección-->
{% block title %} Portafolio {% endblock %}

<!--Contenido de la sección-->
{% block content %}

    {% include 'menu.html' %}
    <h1>Portafolio web</h1>
    
    <section class="project">

        <div class="django_app">
            <h2>Dnago Async Fetch <a href="#"><i>Github</i></a></h2>

            <div class="project_date">
                <p>Octubre 2023 - Bibliotecas de python </p>
            </div>

            <div class="project_description">
                <p>
                    App experimental pensadas para generar
                    llamadas asincronas a la vista Django ulizando la
                    API fetch de javascript. Para lograrlo utilice 
                    un sistema de peteciones a la plantilla selectiva a
                    traves de un Minix personalizado.
                </p>
            </div>

        </div>

        <div class="django_app">
            <h2>Dnago Async Fetch <a href="#"><i>Github</i></a></h2>

            <div class="project_date">
                <p>Octubre 2023 - Bibliotecas de python </p>
            </div>

            <div class="project_description">
                <p>
                    App experimental pensadas para generar
                    llamadas asincronas a la vista Django ulizando la
                    API fetch de javascript. Para lograrlo utilice 
                    un sistema de peteciones a la plantilla selectiva a
                    traves de un Minix personalizado.
                </p>
            </div>

        </div>

        <div class="django_app">
            <h2>Dnago Async Fetch <a href="#"><i>Github</i></a></h2>

            <div class="project_date">
                <p>Octubre 2023 - Bibliotecas de python </p>
            </div>

            <div class="project_description">
                <p>
                    App experimental pensadas para generar
                    llamadas asincronas a la vista Django ulizando la
                    API fetch de javascript. Para lograrlo utilice 
                    un sistema de peteciones a la plantilla selectiva a
                    traves de un Minix personalizado.
                </p>
            </div>

        </div>

        <div class="django_app">
            <h2>Dnago Async Fetch <a href="#"><i>Github</i></a></h2>

            <div class="project_date">
                <p>Octubre 2023 - Bibliotecas de python </p>
            </div>

            <div class="project_description">
                <p>
                    App experimental pensadas para generar
                    llamadas asincronas a la vista Django ulizando la
                    API fetch de javascript. Para lograrlo utilice 
                    un sistema de peteciones a la plantilla selectiva a
                    traves de un Minix personalizado.
                </p>
            </div>

        </div>

    </section>
    {% include 'footer.html' %}

{% endblock %}