<section id="portfolio" class="portfolio-section">
    <div class="container">
        <h2>Mis Proyectos</h2>
        <div class="category-filter">
            <button class="active" data-category="all"> Todos</button>
            <button data-category="web"> <i class="fa fa-globe"></i> Web</button>
            <button data-category="mobile"><i class="fa fa-user-secret"></i> Hacking</button>
            <button data-category="desktop"><i class="fa fa-desktop"></i> Escritorio</button>
            <button data-category="desktop"><i class="fa fa-terminal"></i> CLI</button>

        </div>
        <div class="portfolio-grid">
            <!-- Los elementos del portafolio se generarán dinámicamente con JavaScript -->
        </div>
        <div class="pagination">
            <!-- Los botones de paginación se generarán dinámicamente con JavaScript -->
        </div>
    </div>
</section>

<section id="portfolio-section">
    <!-- Aquí se insertarán los proyectos -->
</section>



<!-- Api fetch -->
<script src="{{url_for('static', filename='js/API.js')}}"></script>