 <!-- Section Portafolio -->
 <section id="portfolio" class="portfolio">
     <div class="contenido-seccion">
         <h2>PORTFOLIO</h2>
         <div class="galeria">

            <!-- Tiny task -->
             <div class="proyecto">
                 <a href="https://github.com/moiseStudent/tinytasks" target="_black">
                     <img src="../static/img/p1.png" alt="">
                     <div class="overlay">
                         <h3>Tiny Task</h3>
                         <p>App de gestion de tareas</p>
                     </div>

                 </a>

             </div>

             <!-- Wissen blog -->
             <div class="proyecto">
                 <a href="#">
                     <img src="../static/img/blog.png" alt="">
                     <div class="overlay">
                         <h3>Blog Wissen</h3>
                         <p>Blog hecho con python y flask</p>
                     </div>

                 </a>

             </div>











             <div class="proyecto">
                 <img src="../static/img/p3.jpg" alt="">
                 <div class="overlay">
                     <h3>Diseño Creativo</h3>
                     <p>Fotografía</p>
                 </div>
             </div>

             <!-- 
             <div class="proyecto">
                 <img src="../static/img/p4.jpg" alt="">
                 <div class="overlay">
                     <h3>Diseño Creativo</h3>
                     <p>Fotografía</p>
                 </div>
             </div>
             <div class="proyecto">
                 <img src="../static/img/p5.jpg" alt="">
                 <div class="overlay">
                     <h3>Diseño Creativo</h3>
                     <p>Fotografía</p>
                 </div>
             </div>
             <div class="proyecto">
                 <img src="../static/img/p6.jpg" alt="">
                 <div class="overlay">
                     <h3>Diseño Creativo</h3>
                     <p>Fotografía</p>
                 </div>
             </div>
             -->
         </div>
     </div>
 </section>