<section class="presentation">

    <div class="start" id="start">
        <!-- Picture container -->
        <div class="banner-container">

            <div class="container-img">
                <img src="../static/img/profile.png" alt="profile" title="Moises Dev">
            </div>

            <h1>Moises Perez</h1>
            <h2>Tecnico Medio en electricidad</h2>

            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/moiseStudent" target="_black">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>

        <div class="description-container">
            <div>
                <h2>Hi, I'm Moises</h2>
                <p>
                    I'm a <span>jr backend developer</span> who is learning cybersecurity.
                    I'm passionate about building secure and scalable applications.
                </p>
                <div class="flex gap-4">
                    <a href="https://github.com/moiseStudent" class="btn" target="__black">
                        <i class="fab fa-gitlab fa-lg"></i> GitHub
                    </a>
                    <a href="#portfolio" class="btn btn-outline">
                        <i class="fas fa-briefcase fa-lg"></i>
                        Portfolio
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>